Repository charmbracelet/crush, pull requests merged in 2025-08, with the labels that each got.

#434 Use default permissions of 0600 for crush.json
  internal/config/config.go
Labels: area: config

#474 fix: mcp client must be started
  internal/llm/agent/mcp-tools.go
Labels: area: mcp

#545 ci: add scoop
  .goreleaser.yml
Labels: area: ci

#534 fix: correctly show mcp and lsp states
  internal/app/app.go
  internal/app/lsp.go
  internal/app/lsp_events.go
  internal/llm/agent/mcp-tools.go
  internal/lsp/client.go
  internal/lsp/handlers.go
  internal/tui/components/chat/sidebar/sidebar.go
  internal/tui/components/chat/splash/splash.go
  internal/tui/components/files/files.go
  internal/tui/components/lsp/lsp.go
  internal/tui/components/mcp/mcp.go
Labels: area: lsp, area: mcp

#394 chore: limit tool output
  internal/llm/tools/tools.go
Labels: area: tools

#505 Fix openai compatible api for certain providers
  go.mod
  go.sum
  internal/llm/provider/openai.go
  internal/tui/components/chat/messages/messages.go
  internal/tui/components/chat/splash/splash.go
  internal/tui/components/dialogs/models/list.go
  internal/tui/components/dialogs/models/models.go
Labels: provider: openai chatgpt

#572 docs(readme): add bedrock and vertex info
  README.md
Labels: provider: google vertex, provider: aws bedrock

#580 chore(tui/status): remove parens around MCP detail
  internal/tui/components/mcp/mcp.go
Labels: area: mcp

#628 Update README.md
  README.md
Labels: area: docs

#634 docs(readme): add note on claude max and github copilot
  README.md
Labels: provider: anthropic claude, area: docs

#323 refactor: use core utils middleware from `mvdan/sh`
  go.mod
  go.sum
  internal/shell/coreutils.go
  internal/shell/shell.go
Labels: area: shell

#657 fix(tools): do not truncate output
  internal/llm/tools/tools.go
Labels: area: tools

#660 fix(mcp): give a time limit for startup
  internal/llm/agent/agent.go
  internal/llm/agent/mcp-tools.go
Labels: area: mcp

#468 fix(gemini): retry at rate limit
  internal/llm/provider/gemini.go
Labels: provider: google gemini

#308 ci: sync dependabot config
  .github/dependabot.yml
Labels: area: ci

#454 feat(config): allow configure the default diff mode
  internal/config/config.go
  internal/tui/components/dialogs/permissions/permissions.go
  internal/tui/tui.go
  schema.json
Labels: area: diff

#733 fix(editor): better sorting of files when completing with /
  internal/tui/components/chat/editor/editor.go
Labels: area: tui / ux

#742 fixup stdio mcp startups to match mark3labs upgrade
  internal/llm/agent/mcp-tools.go
Labels: area: mcp

#686 fix(mcp): tool output join with new line
  internal/llm/agent/mcp-tools.go
Labels: area: tools, area: mcp

#759 feat(mcp): configurable MCP timeout
  internal/config/config.go
  internal/llm/agent/mcp-tools.go
  schema.json
Labels: area: mcp

#681 fix(lsp): return a copy of lsp diagnostics to avoid data race
  internal/llm/tools/diagnostics.go
  internal/lsp/client.go
Labels: area: lsp

#779 fix(gemini): tool-calling panic issue
  internal/llm/provider/gemini.go
Labels: provider: google gemini, area: tools, panic / crash

#597 ci: update winget configs, LICENSE.md
  .goreleaser.yml
  LICENSE.md
Labels: area: releasing, area: ci

#778 feat(lsp): Pass custom environment variables to LSP via config
  README.md
  internal/config/config.go
  internal/lsp/client.go
  schema.json
Labels: area: lsp

#803 (minor) Update log msg for bash tool
  internal/llm/tools/bash.go
Labels: area: tools

#833 fix(onboarding): fix onboarding screen "freezing" when on click on it
  internal/tui/page/chat/chat.go
Labels: area: onboarding

#838 chore: bump bubbletea and ultraviolet to support win32 input mode
  go.mod
  go.sum
Labels: os: windows, area: mouse

#861 fix: return nil for empty tools slice to handle omitzero properly
  internal/llm/provider/anthropic.go
Labels: area: tools

#850 fix: prevent nil pointer dereference in mcp tools parameters
  internal/llm/agent/mcp-tools.go
Labels: area: tools, area: mcp, panic / crash

#702 feat: support Anthropic base url option
  internal/llm/provider/anthropic.go
Labels: provider: anthropic claude

#553 ci: use charmcli account for dependabot merge
  .github/workflows/build.yml
  .github/workflows/cla.yml
  .github/workflows/schema-update.yml
Labels: area: ci

#895 ci: fix `gh` login before merge attempt
  .github/workflows/build.yml
Labels: area: ci

#891 chore: group dependabot updates to reduce noise
  .github/dependabot.yml
Labels: area: ci

#893 fix: fix `panic` that happens on `crush run` with tool calls
  internal/app/app.go
Labels: area: tools, panic / crash

#867 feat: show path when asking if the user wants to initialize project
  internal/tui/components/chat/splash/splash.go
Labels: area: tui / ux, area: onboarding

#907 Fix openai provider tool calls
  internal/llm/provider/openai.go
Labels: provider: anthropic claude, provider: openai chatgpt, provider: openrouter, area: tools

#921 fix: tool calls break the conversation if interrupted
  internal/llm/provider/anthropic.go
  internal/llm/provider/gemini.go
  internal/llm/provider/openai.go
Labels: area: tools
