Repository charmbracelet/crush, pull requests merged in 2025-09, with the labels that each got.

#982 Handle no content for gemini provider
  internal/llm/agent/agent.go
  internal/llm/provider/gemini.go
Labels: provider: google gemini

#966 security(sqlite): enable `secure_delete` pragma
  internal/app/app.go
  internal/db/connect.go
  internal/llm/agent/mcp-tools.go
Labels: security

#1031 docs(readme): copyedits to provider disabling section
  README.md
Labels: area: docs

#1056 Fix Gemini tool responses getting constructed incorrectly
  internal/llm/provider/gemini.go
Labels: provider: google gemini, area: tools

#1011 feat: LSP implementation using x/powernap
  go.mod
  go.sum
  internal/app/app.go
  internal/app/lsp.go
  internal/config/config.go
  internal/config/load.go
  internal/config/lsp_defaults_test.go
  internal/llm/tools/diagnostics.go
  internal/log/http.go
  internal/lsp/caps.go
  internal/lsp/client.go
  internal/lsp/client_test.go
  internal/lsp/handlers.go
  internal/lsp/language.go
  internal/lsp/methods.go
  internal/lsp/protocol.go
  internal/lsp/protocol/LICENSE
  internal/lsp/protocol/interface.go
  internal/lsp/protocol/pattern_interfaces.go
  internal/lsp/protocol/tables.go
  internal/lsp/protocol/tsdocument-changes.go
  internal/lsp/protocol/tsjson.go
  internal/lsp/protocol/tsprotocol.go
  internal/lsp/protocol/uri.go
  internal/lsp/rootmarkers_test.go
  internal/lsp/transport.go
  internal/lsp/util/edit.go
  internal/lsp/watcher/global_watcher.go
  internal/lsp/watcher/watcher.go
  internal/tui/components/chat/header/header.go
  internal/tui/components/lsp/lsp.go
  schema.json
Labels: area: lsp

#1067 docs(readme): mention contributing guide
  README.md
Labels: area: docs

#1071 docs(readme): tidy attribution section
  README.md
Labels: area: docs

#1077 refactor: put tool descriptions in markdown files
  internal/llm/tools/bash.go
  internal/llm/tools/bash.md
  internal/llm/tools/diagnostics.go
  internal/llm/tools/diagnostics.md
  internal/llm/tools/download.go
  internal/llm/tools/download.md
  internal/llm/tools/edit.go
  internal/llm/tools/edit.md
  internal/llm/tools/fetch.go
  internal/llm/tools/fetch.md
  internal/llm/tools/glob.go
  internal/llm/tools/glob.md
  internal/llm/tools/grep.go
  internal/llm/tools/grep.md
  internal/llm/tools/ls.go
  internal/llm/tools/ls.md
  internal/llm/tools/multiedit.go
  internal/llm/tools/multiedit.md
  internal/llm/tools/sourcegraph.go
  internal/llm/tools/sourcegraph.md
  internal/llm/tools/view.go
  internal/llm/tools/view.md
  internal/llm/tools/write.go
  internal/llm/tools/write.md
Labels: area: tools

#528 Fix: Session Summarization Dialog Hanging Indefinitely
  internal/llm/agent/agent.go
  internal/tui/components/dialogs/compact/compact.go
Labels: area: session

#606 docs: add bit about nixos module
  README.md
Labels: area: docs

#1118 chore: add task release
  Taskfile.yaml
Labels: area: releasing

#1146 fix(gemini): add baseURL resolution and conditional HTTPOptions confi…
  internal/llm/provider/gemini.go
Labels: provider: google gemini

#546 fix(openai): 429 insuffice not retry
  internal/llm/provider/openai.go
  internal/llm/provider/openai_test.go
Labels: provider: openai chatgpt

#1138 fix(mcp): do not eat list tools errors
  internal/llm/agent/mcp-tools.go
Labels: area: tools, area: mcp
